@font-face {
    font-family: avenir;
    src: url("../fonts/AvenirLTStd-Book.otf");
  }

  @font-face {
    font-family: timeout;
    src: url("../fonts/Timeout-Regular.otf");
  }
 
  @font-face {
    font-family: timeout;
    src: url("../fonts/TimeoutB-Regular.otf");
    font-weight: bold;
  }


html, body {
    font-family: 'avenir';
}

a, h1 {
    font-family : 'Oswald', sans-serif;
}

a {
  font-size: calc(8px + 2vmin);
}

.font-timeout{
    font-family: 'timeout';
}

.font-size-okessapar {
  font-size: calc(30px + 2vmin);
  }

