body {
  margin: 0;
  top: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    overflow-x: hidden;
}
.col, .col-lg-6, .col-lg-4, .col-lg-2, .col-lg-12, .col-sm-12, .col-sm-6, .col-xs-6, .col-xs-4, .col-xs-8, .col-4, .col-8 {
  position: static!important;
}

.carousel-item, .carousel,  .carousel-inner{
  position: static!important;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
h1, p {
  text-align: center;
}

h1 {
  font-weight: bold;
}

.h-page {
  height: 100vh;
}
.h-page-min {
  min-height: 92vh;
}

.h-8vh {
  height: 8vh;
}

.h-25vh {
  height: 25vh;
}

.h-90 {
  height: 90%;
}


.text-center {
  text-align: center;
}

.dffdc {
  display: flex;
  flex-direction: column;
}
.dfaicjcc{
  display: flex;
  align-items: center;
  justify-content: center;
}
.dfjccaicfdrjcc {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.dfjccaicfdrjcr {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.dfjcspaicfdr {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.dfjcsaaicfdr {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.w-10 {
  width: 10%;
}
.w-50 {
  width: 50%;
}
.w-80 {
  width: 80%;
}
.w-37px {
  width: 37px;
}
.m-top-1{
  margin-top: 1rem;
}
.m-top-3{
  margin-top: 3rem;
}

.m-bot-5 {
  margin-bottom: 5rem;
}

.p-top-1 {
  padding-top: 1rem;
}
.p-top-3 {
  padding-top: 3rem;
}
.p-top-3vh {
  padding-top: 3vh;
}
.p-top-4vh {
  padding-top: 4vh;
}
.p-top-12vh {
  padding-top: 12vh;
}


.p-top-8vh {
  padding-top: 8vh;
}
.p-top-10vh {
  padding-top: 10vh;
}
.p-top-14vh {
  padding-top: 16vh;
}

.p-bot-1 {
  padding-bottom: 1rem;
}
.p-bot-3 {
  padding-bottom: 3rem;
}
.fixed {
  position: fixed;
}

.border-20 {
  border-radius: 20px;
}

.display-none {
  display: none;
}

.padding{
  padding: 1rem 1rem 1rem 1rem;
}

.cursor {
  cursor: pointer;
}