@media only screen and (max-width: 991px) {
  .resp-nav {
    display: none;
  }
  .resp-logo {
      display: flex;
      align-items:center;
      justify-content: center;
  }
  .resp-user {
    position: fixed;
    left: 80%;
    top: 3vh;
    right: 5%;
  }
}

@media only screen and (min-width: 991px) {
  .resp-user {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
}

.resp-m-top {
  margin-top: 3rem;
}
@media only screen and (max-width: 992px) {
  .resp-m-top {
    margin-top: 3rem;
  }
  .resp-m-bott {
    margin-bottom: 2rem;
  }
} 

.resp-video-h {
  height: 25vh;
}

@media only screen and (max-width: 992px) {
  .resp-video-h {
    height: 35vh;
  }
}